# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
rasa_env/

# Rasa model files
models/

# Rasa cache files
*.rasa.tmp

.rasa

# Logs
logs/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Python egg files
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDE settings
.idea/

# Rasa action server dependencies
actions/__pycache__/
